.forgot-password-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.forgot-password-input {
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.forgot-password-button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color:  #c62828;
  color: white;
  transition: background-color 0.3s ease;
}

.forgot-password-button:hover {
  background-color: #ea4040;
}

.forgot-password-message {
  margin-top: 15px;
  color: green;
  font-weight: bold;
}
